
.container__title-image > h1{
    max-width: 70%;
    text-align: center;
    font-size: 55px;
    margin: 35px auto;
}

.container__title-image > h1 > a {
    text-decoration: none;
}

.container__title-image > img { 
    margin: auto;
    max-width: 100%;
}