.container__title-image > h1{
    max-width: 70%;
    display: flex;
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
    margin: 35px auto;
}

.container__title-image > img {
    display: flex;
    max-width: 100%;
    margin: 10px auto;
}