.container {
    margin: 15px 0;
    padding: 15px 0;
    display: flex;
}

.container__name {
    display: contents;
}

.container__name > h1 {
    margin: 0 15px 0 0;
    font-size: 23px;
}

.container__name > h1 > a {
    text-decoration: none;
}

.container__desc {
    margin-left: 55px;
}

.container__desc > p {
    max-width: 70%;
    font-size: 10px;
}

.container__desc > button {
    font-size: 13px;
    font-weight: bolder;
    border: none;
}