.container {
    margin: 15px 0;
    padding: 15px 0;
}

.container__img {
    display: flex;
    justify-content: space-between;
}

.img__one {
    max-width: 49%;
}

.img__two {
    max-width: 44%;
}