<div class="article">

    <div class="article__left">
        <h1><a href="#">BONS RESULTADOS E NOVOS HÁBITOS</a></h1>
        <p>Durante todo esse processo, ocorreram mudanças principalmente nos detalhes do dia a dia, 
            e foram cruciais para resultados impressionantes.</p>
    </div>
    <div class="article__right">
        <div class="subtitle__right">
            <h3><a href="#">O QUE IMPORTA</a></h3>
        </div>
        <div class="description__right">
            <p>Você pode até achar que não é tão importante assim, mas se você arrumar pequenas coisas, 
                você nem precisará se preocupar com as grandes. Talvez te falte noção de quão grande são as pequenas coisas.</p>
        </div>
    </div>

</div>