.article {
    margin: 15px;
    padding: 15px;
    display: flex;
}

.article__left > h1 {
    margin: 0 10px 0 auto;
    max-width: 70%;
    font-size: 23px;
}

.article__left > p {
    margin: 0 10px 0 auto;
    max-width: 70%;
    font-size: 10px;
}

.article__right {
    margin: auto;
}

.subtitle__right > h3 {
    padding: 5px 0 0 0;
    max-width: 70%;
    font-size: 18px;
}
.description__right > p {
    max-width: 70%;
    font-size: 10px;
}