<div class="home-page">
    <div class="big-title-image">
        <app-big-title-image></app-big-title-image>
    </div>
    <div class="history-img">
        <app-history-img></app-history-img>
    </div>
    <div class="short-content">
        <app-short-content></app-short-content>
    </div>
    <div class="read-case-left-card">
        <app-read-case-left-card></app-read-case-left-card>
    </div>
    <div class="read-case-right-card">
        <app-read-case-right-card></app-read-case-right-card>
    </div>
    <div class="read-more-card">
        <app-read-more-card></app-read-more-card>
    </div>
    <div class="news-card">
        <app-news-card></app-news-card>
    </div>
</div>