.home-page {
    margin: 20px 150px;
}

.news-card {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.contacts-bar {
    margin-top: 110px;
    margin-bottom: 50px;
}