<div class="home-page">
    <div class="big-title-image">
        <app-big-title-image 
            titleBigContent=""
            imageBigContent=""
        >
        </app-big-title-image>
    </div>

    <div class="history-img">
        <app-history-img
            cardImageOne=""
            cardImageTwo=""
        >
        </app-history-img>
    </div>

    <div class="short-content">
        <app-short-content
            cardTitle=""
            cardDescription=""
            cardSubtitle=""
            cardSubDescription=""
        >
        </app-short-content>
    </div>

    <div class="read-case-left-card">
        <app-read-case-left-card 
            cardTitle=""
            cardImage=""
            cardDescriptionLeft=""
        >
        </app-read-case-left-card>
    </div>

    <div class="read-case-right-card">
        <app-read-case-right-card
            cardTitle=""
            cardImage=""
            cardDescriptionRight=""
        >
        </app-read-case-right-card>
    </div>

    <div class="read-more-card">
        <app-read-more-card
            cardTitle=""
            cardDescriptionRead=""
        >
        </app-read-more-card>
    </div>

    <div class="news-card">
        <app-news-card
            cardTitleNews=""
            cardImage=""
            cardDate=""
        >
        </app-news-card>
        <app-news-card
            cardTitleNews=""
            cardImage=""
            cardDate=""
        >
        </app-news-card>
        <app-news-card
            cardTitleNews=""
            cardImage=""
            cardDate=""
        >
        </app-news-card>
        <app-news-card
            cardTitleNews=""
            cardImage=""
            cardDate=""
        >
        </app-news-card>
        <app-news-card
            cardTitleNews=""
            cardImage=""
            cardDate=""
        >
        </app-news-card>
        <app-news-card
            cardTitleNews=""
            cardImage=""
            cardDate=""
        >
        </app-news-card>
    </div>

    <div class="contacts-bar">
        <app-contacts-bar></app-contacts-bar>
    </div>
    
</div>